.nav1{
  height:8%;

}
img{
height: 25px;
width: 40px;
margin-bottom: 8px;
margin-top: 8px;
}
.search{
  height:35px;
}
.App{
  margin-top: 50px;
}
.image1 img{
  width:1500px;
  height: 300px;
}
.image2 img{
  width:1500px;
  height: 300px;
}
.image3 img{
  width:1500px;
  height: 300px;
}